## .env Example File
## ==--==--==--==--==--==--==--==--==--==--==--==--==

# NODE_ENV Should be set to either 'production' or 'development'
# if left unset the system should default to 'production'
NODE_ENV='production'

# PORT is used to define the port you want this app to run on.
# It defaults to 3232
PORT='3232'

# DATABASE_URL points to the location of your MongoDB
DATABASE_URL='mongodb://127.0.0.1:27017/change-me-db'

# SESSION_SECRET is used to hold your session secret.
# Use 'openssl rand -hex 32' is one option to generate a secure key.
SESSION_SECRET='ChangeThisHereKeyRealQuickLike'