<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="display-1 text-center">Uh Oh! 404</h1>
            <div class="col mt-5">
                <h4 class="h4">The resource you requested at:</h4>
                <h4 class="h4"><%= resource %></h4>
                <h4 class="h4">is Unavailable or Doesn't Exist.</h4>                    
            </div>
        </div>
    </div>

