<% layout('layouts/boilerplate') %>
    <h1 class="display-1 border-bottom pb-1 mb-3">Welcome Home!</h1>
    <p class="lead">
        You've just discovered the temporary home page! This is just a placeholder during the early phases of app
        developement.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora illo unde nisi aperiam. Sint omnis incidunt
        tempore, accusantium, aliquam, ipsum ad tempora atque perspiciatis voluptatibus quaerat magnam necessitatibus id
        commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sit aliquam magnam modi iure libero odit
        veritatis ex, corrupti voluptas, totam aspernatur atque officiis omnis quaerat, alias voluptatum reiciendis
        ratione!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, delectus rerum repellendus recusandae facere
        id distinctio laborum ullam ducimus tempore, quos voluptas unde. Veniam odio, iste voluptates voluptatibus
        fugiat aut.
    </p>
