<% layout('layouts/boilerplate') %>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
        <h1 class="h1 border-bottom pb-1 mb-3">Create New Campground</h1>
        
        <form action="/campgrounds" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" placeholder="Campground Name">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location" placeholder="Somewhereville, USA">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" name="campground[image]" id="image" placeholder="http://wheremyimageis.com/thisimageismine.jpg">    
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="priceInput">$</span>
                    <input type="number" id="price" class="form-control" placeholder="0.00" name="campground[price]" aria-describedby="priceInput" step="0.01">
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="campground[description]" id="description" rows="7" style="resize: none;" placeholder="Your description of the campground."></textarea>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <button class="btn btn-success form-control">Create New</button>
                </div>
                <div class="col-md-6">
                    <a href="/campgrounds" class="btn btn-danger form-control">Cancel</a>
                </div>       
            </div>  
        </form>
    </div>    
   
